<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<div class="container">
    <div class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li (click)="l()" class="nav-item nav-link" routerLink="/black_dragon" routerLinkActive="active-menu">black-dragon</li>
        <li (click)="l()" class="nav-item nav-link" routerLink="/young_red_dragon" routerLinkActive="active-menu">young-red-dragon</li>
        <li (click)="l()" class="nav-item nav-link" routerLink="/white-monster" routerLinkActive="active-menu">white-monster</li>
        <li (click)="l()" class="nav-item nav-link" routerLink="/green-slime" routerLinkActive="active-menu">green-slime</li>
        <li (click)="l()" class="nav-item nav-link" routerLink="/purple-crab" routerLinkActive="active-menu">purple-crab</li>

      </ul>
  
    </div>
    <router-outlet></router-outlet>
</div>
<h2>Basic Request</h2>
<div *ngIf="loading">loading...</div>
<img src="{{data.image_uris.small}}">
<div>
    <a>Name: {{data.name}}</a><br>
    <a>Colors: {{data.colors}}</a><br>
    <a>Object: {{data.object}}</a><br></div>
